# from my.telegram.org/apps
API_ID=
API_HASH=

# from @BotFather on telegram
BOT_TOKEN=
LOGGER_ID=

# mongo url from cloud.mongodb.com
MONGO_URL=

OWNER_ID=

# pyrogram session from @StringFatherBot on telegram
SESSION=

# # Rasmlar uchun linklar
START_IMG=https://files.catbox.moe/zvziwk.jpg
DEFAULT_THUMB=https://te.legra.ph/file/3e40a408286d4eda24191.jpg
PING_IMG=https://files.catbox.moe/haagg2.png

# # Qo'llab-quvvatlash linklari
SUPPORT_CHANNEL=https://t.me/AvtoBotOfficial
SUPPORT_CHAT=https://t.me/id_uzzz